header, html {
    height: 100%;
    width: 1680;
}
header {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");


    /* Full height */
    height: 940px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: 200px;
    height: 0 Auto;
    padding-left: 20px;
    padding-top: 20px;
}

.video1{
    margin-top: 100px;
    margin-right: 200px;
    margin-left:200px;
    margin-bottom: 100px;
    width:1280px;
    height: 100%;
}

